//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: toRem(18);
	width: 100%;
	height: toRem(70);
	display: block;
	background: #fff;
	color: $mainColor;
	font-size: toRem(16);
	font-weight: 700;
	outline: none;
	@include adaptiveValue("padding-left", 30, 20,0,1920,1366.98);
	@include adaptiveValue("padding-right", 30, 20,0,1920,1366.98);
	&._form-focus {
	}
	&._form-error {
	}
	
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
		color: $gray-87;
		font-weight: 400;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}


textarea.input {
	resize: none;
	min-height: toRem(120);
	padding-top: toRem(30);
}

form._sending {
	button {
		pointer-events: none;
		opacity: 0.5;
	}
}

.form__error {
	position: absolute;
	top: 0;
	right: toRem(16);
	font-size: toRem(14);
	color: red;
}

.start-form {
  display: grid;
  @include adaptiveValue("gap", 20, 10,0,1920,1366.98);
  @media (min-width:toEm(700.98)){
    grid-template-columns: repeat(3,1fr);
  }
  // .start-form__item
  &__item {
    position: relative;
  }
  // .start-form__input
  &__input {
  }
  // .start-form__btn
  &__btn {
  }
}

.form-popup {
	display: grid;
	gap: toRem(10);
	// .form-popup__item
	&__item {
		position: relative;
	}
	// .form-popup__input
	&__input {
	}
	// .form-popup__items
	&__items {
		display: grid;
		gap: toRem(10);
		@media (min-width:$mobileSmall){
			 grid-template-columns: repeat(2, 1fr); 
		}
	}
	// .form-popup__button
	&__button {
	}
}

//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
// @import "button";

// <INPUTS>
// Сніппет (HTML): inp
// @import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
// @import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
