.hero {
  @include adaptiveValue("padding-top", 100, 60,2,1920,1366.98);
  @include adaptiveValue("padding-top", 60, 30,3,1366.98,480.98);
  @extend %pddBottom;
  overflow: hidden;
  // .hero__container
  &__container {
    position: relative;
    z-index: 2;
    // background-repeat: no-repeat;
    // background-position: top;
    // @media (min-width:$mobileSmall){
    //     background-image: url("../img/elements/el-hero-op.png");
    //     background-size: 80%;
    //   }
    //   @media (max-width:$mobileSmall){
    //     background-image: url("../img/elements/el-hero-op-mob.png");
    //     background-size: 120%; 
    //   }
  }
	// .hero__bg
	&__bg {
    position: absolute;
    z-index: -1;
    left: 50%;
    @media (min-width:$mobileSmall){
      top: 50%;
      transform: translate(-50%,-50%);
      max-width: 80%;
    }
    @media (max-width:$mobileSmall){
      top: 16%;
      width: 120%; 
      transform: translate(-50%,-50%);
    }
	}
  // .hero__logo
  &__logo {
  }
  // .hero__title
  &__title {
    font-weight: 700;
    text-align: center;
    @media (min-width:$mobile){
      margin-bottom: toRem(30);
    }
    @media (max-width:$mobile){
      margin-bottom: toRem(90);        
    }
    span {
      @include adaptiveValue("font-size", 50, 36,2,1920,1366.98);
      display: inline-block;
      &:nth-child(1) {
        @include adaptiveValue("font-size", 36, 42,3,1366.98,480.98);
        @media (max-width:$mobile){
           color: $blue; 
           margin-bottom: toRem(10);
        }
      }
      &:nth-child(2) {
        @include adaptiveValue("font-size", 36, 28,3,1366.98,480.98);
        br {
          @media (min-width:$mobileSmall){
             display: none; 
          }
        }
      }
    }
  }
  // .hero__digits
  &__digits {
  }
  // .hero__services
  &__services {
  }
}

.logo-hero {
  display: flex;
  align-items: center;
  @include adaptiveValue("gap", 24,14,0,1920,480.98 );
  @include adaptiveValue("margin-bottom", 56, 36,0,1920,1366.98);
  @media (min-width:$mobileSmall){
    justify-content: center;
  }
  @media (max-width:$mobileSmall){
    flex-direction: column;      
  }
  span {
    flex: 0 0 auto;
    display: inline-block;
    position: relative;
    @include adaptiveValue("width", 24, 11,0,1920,480.98);
    @include adaptiveValue("height", 24, 11,0,1920,480.98);
    &::before,
    &::after {
      content:'';
      position: absolute;
      top: 50%;
      left: 50%;
      @include adaptiveValue("height", 5, 2,0,1920,480.98);
      width: 100%;
      background-color: #000;
    }
    &::before {
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%,-50%) rotate(-45deg);
    }

  }
	// .logo-hero__ic
	&__ic {
    height: auto;
    width: 100%;
    &.logo-01 {
      @include adaptiveValue("max-width", 168, 87,0,1920,480);
    }
    &.logo-02 {
      @include adaptiveValue("max-width", 449, 233,0,1920,480);
    }
	}
}

.serv-hero {
  // .serv-hero__list
  &__list {
    display: grid;
    @include adaptiveValue("gap", 20, 10,0,1920,1366.98);
    @media (min-width:toEm(820.98)){
      grid-template-columns: repeat(4,1fr);
    }
    @media (max-width:toEm(820.98)) and (min-width:$mobileSmall) {
      grid-template-columns: repeat(2,1fr);
    }
  }
  // .serv-hero__item
  &__item {
    &:last-child {
       @media (min-width:toEm(820.98)){
        grid-column: 1/5;
       }
       @media (max-width:toEm(820.98)) and (min-width:$mobileSmall) {
        grid-column: 1/3;
       }
    }
  }
  // .serv-hero__link
  &__link {
    border-radius: toRem(20);
    border: toRem(2) solid transparent;
    background-color: #fff;
    @include adaptiveValue("padding", 30, 16,0,1920,1366.98);
    @include adaptiveValue("gap", 20, 10,0,1920,1366.98);
    box-shadow: 0px 5px 30px 0px rgb(212, 229, 240);
    transition: border-color .3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
    @media (any-hover: hover){
      &:hover{
        border-color: $blue;
        .serv-hero__title {
          color: $blue;
        }
        svg {
          path {
            fill: $blue;
          }
        }
      }
    }
    svg {
      align-self: flex-end;
      path {
        transition: fill .3s ease;
      }
    }
    &.link-one {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  // .serv-hero__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 22,0,1920,1366.98);
    transition: color .3s ease;
  }
  // .serv-hero__txt
  &__txt {
    flex: 1;
    @include adaptiveValue("font-size", 16, 12,0,1920,1366.98);
    @media (max-width:$mobileSmall){
       font-size: toRem(14); 
    }
  }
}


.digits {
  display: grid;
  @include adaptiveValue("column-gap", 100, 40,2,1920,769);
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 100, 60,0,1920,1366.98);
  }
  @media (max-width: toEm(650.98)){
    position: relative;
    background-image: url("../img/elements/el-02-mob-b.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:50%;
  }
  @media (max-width:$mobileSmall){
    background-size:80%; 
    aspect-ratio: 1/1;
  }

  @media (min-width:$mobile){
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    grid-template-columns: repeat(4, auto);
  }
  @media (max-width:$mobile){
     position: relative;
     z-index: 1; 
     grid-template-columns: repeat(2, 1fr);
     gap: toRem(10);
  }
  // .digits__item
  &__item {
    &:nth-child(1) {
      .digits__numb {
        @include adaptiveValue("width", 122, 92,2,1920,1440.98);
        @include adaptiveValue("width", 92, 60,3,1440.98,769);
        @media (max-width:$mobile){
           width: auto !important; 
        }
      }
    }
    &:nth-child(2) {
      .digits__numb {
        @include adaptiveValue("width", 380, 285,2,1920,1440.98);
        @include adaptiveValue("width", 285, 185,3,1440.98,769);
        @media (max-width:$mobile){
           width: auto !important; 
        }
      }
      .digits__txt {
        @media (max-width:$mobileSmall){
          word-break: break-all;
        }
        @media (max-width: em(400.98)){
            padding: 0 toRem(25);
        }
      }
    }
    @media (max-width:$mobile){
      border-radius: 20px;
      border: 1px solid rgba(61, 162, 255, 0.20);
      background: rgba(255, 255, 255, 0.80);
      backdrop-filter: blur(10px); 
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: toRem(27) toRem(12); 
    }
  }
  // .digits__numb
  &__numb {
    color: $blue;
    @include adaptiveValue("font-size", 80, 60,2,1920,1440.98);
    @include adaptiveValue("font-size", 60, 26,3,1440.98,360);
    font-weight: 800;
    text-wrap: nowrap;
    @media (max-width:$mobile){
      margin-bottom: toRem(10);
    }
  }
  // .digits__counter
  &__counter {
  }
  // .digits__txt
  &__txt {
    font-weight: 500;
    @include adaptiveValue("font-size", 28, 16,0,1920,480.98);
    @media (max-width:$mobile){
      flex: 1; 
      text-align: center;
    }
  }
}



// БЛОК ИЗ ТРЕХ КАРТОЧЕК НА ГЛАВНОЙ =============
.cards-block {
  @extend %pddTopB;
  &.bg-blue {
    .cards-block__item {
      background-color: #fff;
    }
  }
  &:not(.bg-blue) {
    .cards-block__item {
      background-color: $gray;
    }
  }
  // .cards-block__container
  &__container {
    display: grid;
    gap: toRem(20);
    @media (min-width:toEm(650.98)){
      grid-template-columns: 1fr 72%;
    }
  }
  // .cards-block__aside
  &__aside {
  }
  // .cards-block__body
  &__body {
    .main-txt {
      font-weight: 700;
    }
  }
  // .cards-block__cards
  &__cards {
    display: grid;
    @include adaptiveValue("gap", 20,16,0,1920,1366.98);
    @media (min-width:toEm(820.98)){
      grid-template-columns: repeat(3,1fr);
    }
    @media (max-width:toEm(820.98)) and (min-width:$mobileSmall) {
      grid-template-columns: repeat(2,1fr);
    }

  }
  // .cards-block__item
  &__item {
    border-radius: toRem(20);
 
    @include adaptiveValue("padding", 30, 18,0,1920,1366.98);
  }
  // .cards-block__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 20, 18,0,1920,1366.98);
    @include adaptiveValue("margin-bottom", 20, 16,0,1920,1366.98);
  }
  // .cards-block__txt
  &__txt {
    @include adaptiveValue("font-size", 16, 14,2,1920,1366.98);
    @include adaptiveValue("font-size", 14, 16,3,1366.98,480.98);
  }
}


// == PROJECTS CARDS =========================================================
.projects {
  @extend %pddTopB;
  // .projects__container
  &__container {
  }
  // .projects__list
  &__list,
  &__btn {
    @extend %gridCards;
  }
  // .projects__item
  &__item {
  }
  // .projects__card
  &__card {
  }
  // .projects__btn
  &__btn {
   @extend %btnCardsWrapper;
  }
}

.card-pr {
  @extend %hoverCards;
  // .card-pr__image
  &__image {
    img {
      @media (min-width:toEm(1440.98)){
        aspect-ratio: 396/300;
      }
      @media (max-width:toEm(1440.98)) and (min-width:$mobileSmall) {
        aspect-ratio: 396/260;
      }
      @media (max-width:$mobileSmall){
          aspect-ratio: 320/300;
      }
    }
  }
  // .card-pr__body
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding", 30, 16,2,1920,1366.98);
    @include adaptiveValue("padding", 16, 20,3,1366.98,480.98);
    background-color: #fff;
  }
  // .card-pr__title
  &__title {
    flex: 1;
    display: flex;
    gap: toRem(10);
    justify-content: space-between;
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 20,2,1920,1366.98);
    @include adaptiveValue("font-size", 20, 22,3,1366.98,480.98);
    @include adaptiveValue("margin-bottom", 20, 16,2,1920,1366.98);
    @include adaptiveValue("margin-bottom", 16, 20,3,1366.98,480.98);
    transition: color .3s ease;
   
    span {
      display: inline-block;
    }
    svg {
      flex: 0 0 auto;
      path {
        transition: fill .3s ease;
      }
    }
  }
  // .card-pr__list
  &__list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    @include adaptiveValue("gap", 20, 10,2,1920,1366.98);
    @include adaptiveValue("gap", 10, 20,3,1366.98,480.98);
  }
  // .card-pr__item
  &__item {
  }
  // .card-pr__tilte-name
  &__tilte-name {
    color: #BBBBBB;
    @include adaptiveValue("font-size", 16, 14,2,1920,1366.98);
    @include adaptiveValue("font-size", 14, 16,3,1366.98,480.98);
    margin-bottom: toRem(4);
  }
  // .card-pr__info
  &__info {
    font-weight: 700;
    @include adaptiveValue("font-size", 20, 16,2,1920,1366.98);
    @include adaptiveValue("font-size", 16, 20,3,1366.98,480.98);
  }
}
// ===========================================================================

// == OUR PROJECTS TABS =========================================================
.services-tab {
  @extend %pddTopB;
  // .services-tab__container
  &__container {
  }
  // .services-tab__wrapper
  &__wrapper {
  }
	// .services-tab__btn-wr
	&__btn-wr {
    overflow: visible;
    overflow-x: auto;
    margin-bottom: toRem(20);
    @media (max-width: toEm(880.98)){
        margin-left: -20px;
        margin-right: -20px;
        padding: 0 toRem(20);
    }
	}
  // .services-tab__buttons
  &__buttons {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: toRem(20);
    background-color:$blue;
    padding: toRem(8);
  }
  // .services-tab__btn
  &__btn {
    color: #fff;
    font-weight: 700;
    text-align: center;
    @include adaptiveValue("padding-top", 16, 12,0,1920,1366.98);
    @include adaptiveValue("padding-bottom", 16, 12,0,1920,1366.98);
    @include adaptiveValue("padding-left", 26, 20,0,1920,1366.98);
    @include adaptiveValue("padding-right", 26, 20,0,1920,1366.98);
    border-radius: toRem(16);
    @include adaptiveValue("font-size", 22, 14,0,1920,1366.98);
    @include adaptiveValue("font-size", 14, 16,3,880.98,480.98);
    &._tab-active {
      color: #000;
      background-color:#fff;
      transition: color .3s ease, background-color .3s ease;
    }
  }
  // .services-tab__content
  &__content {
  }
  // .services-tab__body
  &__body {
  }
  // .services-tab__list
  &__list {
    display: grid;
    @include adaptiveValue("gap", 18, 10,0,1920,1366.98);
    @media (min-width:$mobile){
      grid-template-columns: repeat(4,1fr);
    }
    @media (max-width:$mobile) and (min-width: toEm(600.98)) {
      grid-template-columns: repeat(3,1fr);
    }
    @media (max-width: toEm(600.98)) and (min-width:$mobileSmall) {
      grid-template-columns: repeat(2,1fr);
    }
  }
  // .services-tab__item
  &__item {
  }
  // .services-tab__link
  &__link {
    background-color: #fff;
    border-radius: toRem(20);
    display: flex;
    height: 100%;
    @include adaptiveValue("padding", 30, 20,0,1920,1366.98);
    @include adaptiveValue("font-size", 30, 18,0,1920,1366.98);
    border: toRem(2) solid transparent;
    transition: border-color .3s ease, box-shadow .3s ease;
    font-weight: 700;
    @media (any-hover: hover){
      &:hover{
        box-shadow: 0px 5px 30px 0px rgb(212, 229, 240);
        border-color: $blue;
        span {
          color: $blue;
        }
        svg {
          path {
            fill: $blue;
          }
        }
      }
    }
    @media (min-width:$mobileSmall){
      flex-direction: column;
    }
    @media (max-width:$mobileSmall){
       align-items: center;
       justify-content: space-between;
       gap: toRem(20); 
    }
    span {
      display: inline-block;
      flex: 1;
      transition: color .3s ease;
    }
    svg {
      @media (min-width:$mobileSmall){
        align-self: flex-end;
      }
      @media (max-width:$mobileSmall){
         flex: 0 0 auto; 
      }
      path {
        transition: fill .3s ease;
      }
    }
  }
}
// ============================================================

// == FORM =====================================================
.form-start {
  @extend %pddTopB;
  // .form-start__container
  &__container {
    position: relative;
    z-index: 2;
    &:after,
    &:before {
      content:'';
      position: absolute;
      z-index: -1;
      background-repeat: no-repeat;
      background-size: contain;
      pointer-events: none;
  
    }
    &::before {
      @include adaptiveValue("top", -100, -50,0,1920,1366.98);
      transform: translate(0%,-50%) rotate(180deg);
      background-image: url("../img/elements/el-01.png");
      @include adaptiveValue("width", 160, 98,0,1920,480.98);
      @include adaptiveValue("height", 160, 98,0,1920,480.98);
      @media (min-width:$mobileSmall){
        right: 0%;
      }
      @media (max-width:$mobileSmall){
        right: toRem(20);
      }
    }
    &::after {
      .form-footer & {
        display: none;
      }
      @include adaptiveValue("bottom", -100, -60,0,1920,1366.98);
      transform: translate(0%,50%) rotate(45deg);
      background-image: url("../img/elements/el-02-mob-sm.png");
      @include adaptiveValue("width", 128, 95,0,1920,480.98);
      @include adaptiveValue("height", 128, 95,0,1920,480.98);
      left: toRem(20);
    }
  }
  // .form-start__wrapper
  &__wrapper {
    display: grid;
    gap: toRem(20);
    @include adaptiveValue("margin-bottom", 40, 30,0,1920,1366.98);
    @media (min-width:$mobile){
      grid-template-columns: 1fr 66%;
    }
  }
  // .form-start__body
  &__body {
     color: #fff;
  }
	// .form-start__txt-a
	&__txt-a {
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 20,0,1920,1366.98);
    @include adaptiveValue("margin-bottom", 18, 10,0,1920,1366.98);
	}
  // .form-start__txt
  &__txt {
    font-weight: 400;
    @include adaptiveValue("font-size", 22, 20,0,1920,1366.98);
    @include adaptiveValue("max-width", 536, 375);
  }
}

// =============================================================

.hero-art {
  @extend %pddTopB;
  // .hero-art__container
  &__container {
  }
  // .hero-art__list
  &__list {
    @extend %gridCards;
  }
  // .hero-art__item
  &__item {
  }
  // .hero-art__article
  &__article {
  }
  // .hero-art__btn
  &__btn {
    @extend %gridCards;
    @extend %btnCardsWrapper;
  }
}

.item-art {
  @extend %hoverCards;
  // .item-art__image
  &__image {
    img {
      aspect-ratio:396/224; 
    }
  }
	// .item-art__body
	&__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 30, 20,0,1920,1366.98);
    background-color:#fff;
    @include adaptiveValue("padding", 30, 16,2,1920,1366.98);
    @include adaptiveValue("padding", 16, 20,3,1366.98,480.98);
	}
  // .item-art__title
  &__title {
    flex: 1;
    transition: color .3s ease;
    font-weight: 700;
    @include adaptiveValue("font-size", 22, 18,0,1920,1366.98);
  }
  // .item-art__footer
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    @include adaptiveValue("font-size", 16, 14,2,1920,1366.98);
    @include adaptiveValue("font-size", 14, 16,3,1366.98,480.98);
  }
  // .item-art__wrap
  &__wrap {
  }
  // .item-art__time
  &__time {
    margin-bottom: toRem(6);
  }
  // .item-art__read
  &__read {
  }
  // .item-art__view
  &__view {
    display: flex;
    align-items: center;
    gap: toRem(6);
    &::before {
      content: "";
      background-image:url('../img/icons/eye.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: toRem(20);
      height: toRem(14);
    }
  }
}

// == SECTION BRAND LINE MOVE TO =============================
.trust-brand {
  @extend %pddTopB;
  // .trust-brand__container
  &__container {
    @include adaptiveValue("margin-bottom", 60, 30,0,1920,1366.98);
  }
	// .trust-brand__txt
	&__txt {
    text-align: center;
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 18,0,1920,1366.98);
	}
  // .trust-brand__body
  &__body {
    overflow: hidden;
    width: max-content;
    display: flex;
      // .trust-brand__body_01
      &_01 {
        @media (min-width:$mobileSmall){
           margin-bottom: toRem(20); 
        }
        @media (max-width:$mobileSmall){
           margin-bottom: toRem(10); 
        }
      }
      // .trust-brand__body_02
      &_02 {
      }
  }
  // .trust-brand__list-1
  &__list-1,
  &__list-2 {
    display: flex;
    flex-wrap: nowrap;
  }
  &__list-1 {
    animation: scroll 40s linear infinite;
  }
  &__list-2 {
    flex-direction: row-reverse;
    animation: scroll2 40s linear infinite;
  }
  // .trust-brand__item
  &__item {
    border-radius:50%;
    background-color: $gray-F7;
    @include adaptiveValue("width", 300, 180,2,1920,1440);
    @include adaptiveValue("width", 180, 92,3,1439,480);
    @include adaptiveValue("height", 300, 180,2,1920,1440);
    @include adaptiveValue("height", 180, 92,3,1439,480);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    @media (max-width:$mobileSmall){
       margin: 0 3px; 
    }
    img {
      display: block;
      margin: 0 auto;
      @media (min-width:$mobileSmall){
        max-width: 75%;
      }
      @media (max-width:$mobileSmall){
         max-width: 70%; 
      }
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes scroll2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}


// --- seo-block SECTION -------------------------------------
.seo-block {
  @extend %pddTopB;
  // .seo-block__container-sm
  &__container-sm {
  }
  // .seo-block__body
  &__body {
  }
  // .seo-block__content
  &__content {
  }
	// .seo-block__item
	&__item {
    display: grid;
    gap: toRem(20);
    @media (min-width:toEm(700.98)){
      grid-template-columns: 1fr 56%;
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30,0,1920,480.98);
    }
	}
	// .seo-block__title
	&__title {
    line-height: 1.15;
    @include adaptiveValue("font-size", 36, 24,2,1920,1366.98);
    @include adaptiveValue("font-size", 24, 20,3,1366.98,360);
    font-weight: 700;
    line-height: normal;
	}
	// .seo-block__texts
	&__texts {
    @include adaptiveValue("font-size", 22, 16,0,1920,1366.98);
    // @include adaptiveValue("font-size", 18, 16,3,1366.98,360);
    line-height: 1.15;
    p, li {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 30, 20,0,1920,1366.98);
      }
    }
    h2, h3, h4, h5, h6 {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 20, 10,0,1920,1366.98);
      }
    }
    h2, h3, h4, h5, h6 {
      font-weight: 700;
      @include adaptiveValue("font-size", 28, 18,0,1920,1366.98);
    }
    ol li {
      list-style: auto;
      @include adaptiveValue("margin-left", 30, 20,0,1920,400);
    }
    @media (min-width:em(1366.98)){
        max-width: toRem(708);
    }
	}
  // .seo-block__more
  &__more {
    @media (min-width:toEm(700.98)){
      display: grid;
      grid-template-columns: 1fr 56%;
    }
    @include adaptiveValue("margin-top", 60, 30,0,1920,1366.98);
    .btn {
      @include adaptiveValue("max-width", 396, 300,2,1920,700.98);
      grid-column: 2/3;
    }
  }
}


// == КОМАНДА ==================================
.team-hero {
  @extend %pddTopB;
  // .team-hero__container
  &__container {
  }
  // .team-hero__txt
  &__txt {
    text-align: center;
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 18,0,1920,1366.98);
    @include adaptiveValue("margin-bottom", 60, 30,0,1920,1366.98);
  }
  // .team-hero__list
  &__list {
    display: grid;
    @include adaptiveValue("gap", 20, 10,0,1920,1366.98);
    @media (min-width:$mobile){
      grid-template-columns: repeat(4,1fr);
    }
    @media (max-width:$mobile) and (min-width:toEm(550.98)) {
      grid-template-columns: repeat(3,1fr);
    }
    @media (max-width:toEm(550.98)){
      grid-template-columns: repeat(2,1fr);
    }
  }
  // .team-hero__item
  &__item {
    display: flex;
    flex-direction: column;
    border-radius: toRem(20);
    overflow: hidden;
    height: 100%;
  }
	// .team-hero__image
	&__image {
    img {
      background: linear-gradient(180deg, #B0B0B0 0%, #D2D2D2 100%);
      aspect-ratio: 292/360;
    }
	}
  // .team-hero__body
  &__body {
    flex: 1;
    background-color:#fff;
    @include adaptiveValue("padding", 30, 20,0,1920,1366.98);
  }
  &__name,
  &__pos {
  }
  // .team-hero__name
  &__name {
    flex: 1;
    font-weight: 700;
    margin-bottom: toRem(10);
    @include adaptiveValue("font-size", 22, 18,0,1920,1366.98);
  }
  // .team-hero__pos
  &__pos {
    @include adaptiveValue("font-size", 20, 16,0,1920,1366.98);
  }
}


// == HERO BLOCK для страниц Сервисов ==============================
.head-serv {
  // .head-serv__wrapper
  &__wrapper {
    position: relative;
    overflow: hidden;
    .target &,
    .sub-target & {
      background-color:#EC7489;
    }
    .target & {
      .head-serv__item {
        border-color: #EC7489;
      }
    }

    .google &,
    .sub-google & {
      background-color:#63B56B;
    }
    .google & {
      .head-serv__item {
        border-color: #63B56B;
      }
    }
    
    .seo &,
    .sub-seo & {
      background-color:#8C7EDF;
    }
    .seo & {
      .head-serv__item {
        border-color: #8C7EDF;
      }
    }
    
    .development &,
    .sub-development & {
      background-color:#3AAAC2;
    }
    .development & {
      .head-serv__item {
        border-color: #3AAAC2;
      }
    }

    .sub-category & {
      background-color:$blue;
    }

    .sub-target &,
    .sub-google &,
    .sub-seo &,
    .sub-development &,
    .sub-category & {
      @extend %pddTopB;
      @media (max-width:$mobileSmall){
        min-height: calc(100vh - toRem(97)); 
        min-height: calc(100svh - toRem(97)); 
        display: flex;
        flex-direction: column;
        padding-top: toRem(20) !important; 
        padding-bottom: toRem(20) !important; 
      }
      .head-serv__item {
        border-color: #fff;
      }
    }
    
    .target &,
    .google &,
    .seo &,
    .development & {
      @extend %pddTop;
      @media (max-width: toEm(750.98)){
        padding-bottom: toRem(20);
      }
    }

    @media (min-width:toEm(750.98)){
      .target &,
      .google &,
      .seo &,
      .development & {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          z-index: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color:#fff;
          @media (min-width:toEm(1440.98)){
            height: toRem(90);
          }
          @media (max-width:toEm(1440.98)){
            height: toRem(68);
          }
        }
      }
    }
  }
	// .head-serv__bg
	&__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    @media (min-width:$mobileSmall){
      object-fit: cover;
    }
    @media (max-width:$mobileSmall){
       object-fit: contain; 
       max-width: 85%;
    }
	}
  // .head-serv__container
  &__container {
    position: relative;
    z-index: 2;

    .sub-target &,
    .sub-google &,
    .sub-seo &,
    .sub-development &,
    .sub-category & {
      @media (max-width:$mobileSmall){
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }
  }
  // .head-serv__body
  &__body {
    color: #fff;
    .title-head {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 30, 20,0,1920,480.98);
      }
    }
    
    .target &,
    .google &,
    .seo &,
    .development & {
      position: relative;
      display: grid;
      @include adaptiveValue("margin-bottom", 60, 20,0,1920,480.98);
      @media (min-width:toEm(600.98)){
        gap: toRem(40);
        grid-template-columns: 1fr 27%;
      }
    }

    .sub-target &,
    .sub-google &,
    .sub-seo &,
    .sub-development &,
    .sub-category & {
      text-align: center;
      backdrop-filter: blur(20px);
      background: rgba(255, 255, 255, 0.2);
      border: toRem(2) solid #fff;
      border-radius: toRem(20);
      @include adaptiveValue("padding", 40, 20,0,1920,1366.98);
      @include adaptiveValue("margin-bottom", 16, 6,0,1920,1366.98 );
      @media (max-width:$mobile) and (min-width:$mobileSmall) {
        min-height: toRem(300);
      }
      @media (max-width:$mobile){
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      @media (max-width:$mobileSmall){
        flex: 1;
      }
    }

  }
  // .head-serv__block
  &__block {
    .sub-title {
      @media (max-width:$mobileSmall){
         max-width: 78%; 
      }
    }
  }
  // .head-serv__image
  &__image {
    @media (max-width: toEm(600.98)){
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        max-width: 90%;
        transform: translate(36%, 63%);

        .google &,
        .seo &,
        .development & {
          max-width: 60%;
          transform: translate(30%, 58%);
        }
    }
  }
  // .head-serv__list
  &__list {
    display: grid;
    @include adaptiveValue("gap", 16, 6,0,1920,1366.98);
    @media (min-width:toEm(750.98)){
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: 1fr;
    }
    @media (max-width: toEm(750.98)){
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: 1fr 1fr;
    }
  }
  // .head-serv__item
  &__item {

    .target &,
    .google &,
    .seo &,
    .development & {
      background-color:#fff;
    }

    .sub-target &,
    .sub-google &,
    .sub-seo &,
    .sub-development &,
    .sub-category & {
      backdrop-filter: blur(20px);
      background: rgba(255, 255, 255, 0.2);
      color: #fff;
    }

    padding-left: toRem(10);
    padding-right: toRem(10);
    @include adaptiveValue("padding-top", 40, 26,0,1920,1366.98);
    @include adaptiveValue("padding-bottom", 40, 26,0,1920,1366.98);
    border-radius: toRem(20);
    border: toRem(2) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:nth-child(2) {
      @media (max-width:$mobileSmall){
        word-break: break-all;
      }
    }
    &:nth-child(3) {
      @media (max-width:toEm(360.98)){
        word-break: break-all;
      }
    }
    @media (max-width: $mobileSmall) and (min-width:toEm(360.98)) {
      aspect-ratio: 1/1;
    }
  }
  // .head-serv__numb
  &__numb {
    text-align: center;
    font-weight: 700;
    margin-bottom: toRem(10);
    @include adaptiveValue("font-size", 40, 26,0,1920,1366.98);
    @media (max-width: toEm(360.98)){
        font-size: toRem(20) !important;
    }
  }
  // .head-serv__counter
  &__counter {
    display: inline-block;
  }
  // .head-serv__txt
  &__txt {
    font-weight: 500;
    text-align: center;
    @include adaptiveValue("font-size", 18, 16,0,1920,1366.98);
  }
}

// Блок Спойллеров =================================
.spoller {
  @extend %pddTopB;
  &.bg-blue {
    .spoller__body {
      p {
        color: #fff;
      }
    }
    .spollers__body {
      color: #fff;
    }
    .spollers__title {
      background-color: #fff;
    }
  }
  &.bg-gray {
    .spollers__title {
      background-color: #fff;
    }
  }
  &:not(.bg-blue, .bg-gray) {
    .spollers__title {
      background-color: $gray;
    }
  }
  // .spoller__container
  &__container {
    display: grid;
    gap: toRem(20);
    @media (min-width:toEm(750.98)){
      grid-template-columns: 1fr 64%;
    }
  }
  // .spoller__aside
  &__aside {
  }
  // .spoller__body
  &__body {
    p {
      font-weight: 700;
      @include adaptiveValue("font-size", 30, 20,0,1920,1366.98);
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 20, 10,0,1920,1366.98);
      }
    }
  }
}

.spollers {
  // .spollers__item
  &__item {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10,0,1920,1366.98);
    }
  }
  // .spollers__title
  &__title {
    outline: none;
    cursor: pointer;
    border-radius: toRem(20);
    font-weight: 700;
    @include adaptiveValue("font-size", 22, 16,0,1920,1366.98);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:  toRem(20);
    @include adaptiveValue("padding", 30, 20,0,1920,1366.98);
    &._spoller-active {
      span {
        &::after {
          width: 0;
        }
      }
    }
    span {
      flex: 0 0 auto;
      display: block;
      width: toRem(40);
      height: toRem(40);
      background-color:$orange;
      border-radius: 50%;
      position: relative;
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 60%;
        height: toRem(2);
        background-color:#fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(0deg);
        transition: width .3s ease;
      }
      &::after {
        transform: translate(-50%,-50%) rotate(90deg);
      }
    }
  }
  // .spollers__body
  &__body {
    @include adaptiveValue("font-size", 22, 16,0,1920,1366.98);
    @include adaptiveValue("padding", 30, 20,0,1920,1366.98);
  }
}


.steps {
  @extend %pddTopB;
  // .steps__container
  &__container {
  }
  // .steps__row
  &__row {
    @media (min-width:toEm(820.98)){
      grid-template-columns: repeat(4,1fr);
    }
    @media (max-width: toEm(820.98)){
      margin-inline: auto;
      max-width: toRem(570);
    }
    .steps__stages {
      @media (min-width:toEm(820.98)){
        grid-column: 1/4;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto 1fr;
      }
      @media (max-width: toEm(820.98)){
          margin-bottom: toRem(12);
      }
      .steps__head {
        @media (min-width:toEm(820.98)){
          grid-column: 1/4;
        }
      }
    }
    .steps__result {
      @media (min-width:toEm(820.98)){
        grid-template-rows: auto 1fr;
      }
    }
  }
  &__row,
  &__stages,
  &__result {
    display: grid;
    @include adaptiveValue("gap",16, 6,0,1920,1366.98 );
  }
  // .steps__column
  &__column {
    display: grid;
    @include adaptiveValue("gap",36, 18,0,1920,1366.98 );
    margin-inline: auto;
    @include adaptiveValue("max-width", 812, 570,0,1920,1366.98);
  }
  // .steps__stages
  &__stages {
    .steps__head {
      background-color:$orange;
    }
    .steps__item {
      border-color: $orange;
      ul li {
        &::before {
          background-color:$orange;
        }
      }
    }
  }
  // .steps__result
  &__result {
    .steps__head {
      background-color:$blue;
    }
    .steps__item {
      border-color: $blue;
      ul li {
        &::before {
          background-color:$blue;
        }
      }
    }
  }
  // .steps__head
  &__head {
    border-radius: toRem(20);
    min-height: toRem(66);
    color: #fff;
    padding: toRem(6) toRem(20);
    display: flex;
    align-items:center;
    justify-content: center;
    font-weight: 700;
    @include adaptiveValue("font-size", 22, 16,0,1920,1366.98);
  }
  // .steps__item
  &__item {
    @include adaptiveValue("padding", 26, 16,0,1920,1366.98);
    background-color: #fff;
    border-radius: toRem(20);
    border: toRem(2) solid;
    ul li {
      padding-left: toRem(16);
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: toRem(6);
        left: 0;
        width: toRem(6);
        height: toRem(6);
        border-radius: 50%;
      }
    }
    p {

    }
    li,p {
      @include adaptiveValue("font-size", 16, 14,2,1920,1366.98);
      @include adaptiveValue("font-size", 14, 16,3,1366.98,480.98);
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }
  // .steps__title
  &__title {
    display: inline-block;
    font-weight: 700;
    @include adaptiveValue("font-size", 20, 16,0,1920,1366.98);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10,0,1920,1366.98);
    }
  }
}


.cards-grid {
  @extend %pddTopB;
  // .cards-grid__container
  &__container {
    display: grid;
    gap: toRem(20);
    @media (min-width:toEm(750.98)){
      grid-template-columns: 1fr 64%;
    }
  }
  // .cards-grid__aside
  &__aside {
  }
  // .cards-grid__body
  &__body {
    .main-txt {
      font-weight: 700;
    }
  }
  // .cards-grid__cards
  &__cards {
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @media (max-width:$mobileSmall){
         width: 120%; 
      }
    }
  }
  // .cards-grid__list
  &__list {
    position: relative;
    z-index: 2;
    display: grid;
    @include adaptiveValue("gap",16, 6,0,1920,1366.98 );
    @media (min-width:$mobile){
      grid-template-columns: repeat(2,1fr);
    }
  }
  // .cards-grid__item
  &__item {
    border-radius: toRem(20);
    border: toRem(2) solid $blue;
    @include adaptiveValue("padding",26, 16,0,1920,1366.98 );
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.7);
  }
  // .cards-grid__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 22, 16,0,1920,1366.98);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10,0,1920,1366.98);
    }
  }
  // .cards-grid__txt
  &__txt {
  }
}

.page-one {
  @include adaptiveValue("padding-top", 70, 30,0,1920,1366.98);
  @extend %pddBottom;
  .team-hero__txt {
    text-align: left;
  }
  .title-main {
    text-align: left;
  }
  // .page-one__container
  &__container {
  }
}


.cases {
  // .cases__items
  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: toRem(30);
    @media (min-width:toEm(1440.98)){
      column-gap: toRem(30);
    }
    @media (max-width: toEm(1440.98)){
      column-gap: toRem(15);
    }
  }
  // .cases__item
  &__item {
  }
  // .cases__link
  &__link {
    @include adaptiveValue("padding-top", 20, 10,0,1920,1024);
    @include adaptiveValue("padding-bottom", 20, 10,0,1920,1024);
    border: toRem(2) solid transparent;
    border-radius: toRem(40);
    @include adaptiveValue("font-size", 20, 14,2,1920,768);
    @include adaptiveValue("font-size", 14, 12,3,768.98,480);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: toRem(20);
    transition: color .3s;
    @media (max-width: toEm(1440.98)){
        gap: toRem(8)
    }
    @media (any-hover: hover){
      &:hover{
        &:not(.active) {
          color: $blue;
        }
      }
    }
    &.active {
      @include adaptiveValue("padding-left", 30, 15,0,1920,1024);
      @include adaptiveValue("padding-right", 30, 15,0,1920,1024);
      border-color: $blue;
      font-weight: 600;
      color: $blue;
    }
  }
  // .cases__link-ic
  &__link-ic {
      display: flex;
      align-items: center;
      width: toRem(14);
      @media (max-width:toEm(1440.98)){
          width: toRem(10);
      }
		}
		// .cases__ic-close
		&__ic-close {
      width: 100%;
		}
}

// == PAGINATION =============================
.pagination {
  @include adaptiveValue("margin-top", 40, 20,0,1920,1366.98);
  margin-inline: auto;
  max-width: toRem(586);
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: toRem(20);
  // .pagination__items
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .pagination__item
  &__item {
  }
  // .pagination__button
  &__button {
    transition: opacity .3s ease;
    @media (any-hover: hover){
      &:hover{
        opacity: .5;
      }
    }
   &[disabled] {
      opacity: .1;
    }
  }
  // .pagination__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(50);
    height: toRem(50);
    border-radius: toRem(14);
    font-weight: 500;
    @include adaptiveValue("font-size", 22, 14,0,1920,480);
    transition: background-color .3s, opacity .3s;
    @media (max-width:$mobile){
      width: toRem(40);
      height: toRem(40);
    }
    @media (max-width:$mobileSmall){
      width: toRem(30);
      height: toRem(30);
      border-radius: toRem(8);
    }
    &.active {
      background-color: $blue;
      color: #fff;
    }
    @media (any-hover: hover){
      &:hover{
        &:not(.active) {
          background-color: #F1F1F1;
        }
      }
    }
  }
  // .pagination__blank
  &__blank {
  }
}



// --------------------------------
// == CONTACTS PAGE ==========================================
// --------------------------------
.contacts {
  // .contacts__wrapper
  &__wrapper {
    position: relative;
    @include adaptiveValue("margin-top", 40, 20,0,1920,1366.98);
    @include adaptiveValue("min-height", 620, 450,0,1920,1440);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30,0,1920,1440);
    }
    .contacts__container {
      position: relative;
      z-index: 3;
    }
  }
  // .contacts__bg
  &__bg {
    position: absolute;
  }
  // .contacts__items
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiveValue("padding-top", 90, 50,0,1920,1440);
    @media (min-width:$tablet){
       gap: toRem(20);
    }
    @media (max-width:$tablet){
       gap: toRem(10); 
    }
    @media (max-width: toEm(900.98)){
        grid-template-columns: 1fr;
        max-width: toRem(500);
        margin: 0 auto;
    }
  }
  // .contacts__item
  &__item {
  }
  // .contacts__gallery
  &__gallery {
    &:not(:last-child) {
      margin-bottom: toRem(50);
    }
  }
	// .contacts__map
	&__map {
    iframe {
      border-radius: toRem(30);
      @media (min-width:$mobile){
        aspect-ratio: 1800/500;
      }
      @media (max-width:$mobile){
        aspect-ratio: 768/384;
      }
      @media (max-width:$mobileSmall){
        aspect-ratio: 768/500;
      }
    }
	}
}

.item-contcs {
  // .item-contcs__button
  &__button {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(10);
    // padding-left: toRem(5);
    // padding-right: toRem(5);
    @include adaptiveValue("min-height", 100, 70,0,1920,1366.98);

    font-weight: 700;
    @include adaptiveValue("font-size", 22, 18,0,1920,1366.98);

    border-radius: toRem(30);
    border: 2px solid rgba(255, 255, 255, 0.50);
    background-color: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(15px);
    transition: background-color .3s ease, color .3s ease;
    @media (any-hover: hover){
      &:hover{
        background-color: #000;
        color: #fff;
      }
    }

    @media (max-width:$mobile){
       border-radius: toRem(20); 
    }
  }
  // .item-contcs__ic
  &__ic {
    width: 100%;
    height: auto;
    @include adaptiveValue("max-width", 30, 25,0,1920,1366.98);
  }
  // .item-contcs__txt
  &__txt {
  }
}

  
.gallery {
  display: grid;
  @media (min-width:$mobile){
    gap: toRem(20); 
  }
  @media (max-width:$mobile){
    gap: toRem(10); 
  }
  @media (min-width:$mobileSmall){
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  }
  // .gallery__image
  &__image {
    border-radius: toRem(20);
    overflow: hidden;
    @media (any-hover: hover){
      &:hover{
        .gallery__preview {
          transform: scale(1.07);
        }
      }
    }
  }
  // .gallery__preview
  &__preview {
    transition: transform .45s ease-in-out;
    @media (min-width:$mobileSmall){
      aspect-ratio: 344/344;
    }
    @media (max-width:$mobileSmall){
       aspect-ratio: 344/170; 
    }
  }
}


.form-one {
  @media (min-width:$mobileSmall){
    min-height: calc(100vh - toRem(300));
    min-height: calc(100svh - toRem(300));
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  position: relative;
  z-index: 2;
  &::before {
    content:'';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image:url("../img/elements/el-09.png");
    background-repeat:no-repeat;
    background-size: contain;
    @include adaptiveValue("width", 660, 400,0,1920,1366.98);
    @include adaptiveValue("height", 660, 400,0,1920,1366.98);
    filter: blur(10px);
  }
  .title-main,
  .main-txt {
    color: #fff;
    text-align: center;
  }
  .main-txt {
    font-weight: 700;
    margin-inline: auto;
    @media (min-width:$mobile){
      max-width: 75%;
    }
  }
}


// -------------------------------------------
// === SERVICES PAGE =================================================
// -------------------------------

.services {
  // .services__list
  &__list {
    position: relative;
    z-index: 2;
    display: grid;
    background-image:url('../img/elements/el-02-mob-b.png');
    background-repeat: no-repeat;
    background-size: 90%;
    @media (min-width:toEm(820.98)){
      background-position: center;
    }
    @media (max-width: toEm(820.98)){
      background-position: top;
    }
    @include adaptiveValue("gap", 20, 10,0,1920,1366.98);
    @media (min-width:toEm(1366.98)){
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: toEm(1366.98)) and (min-width:toEm(700.98)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .services__item
  &__item {
    padding: toRem(30);
    @include adaptiveValue("padding", 30, 20,0,1920,1440);
    border-radius: toRem(20);
    border: 2px solid rgba(61, 162, 255, 0.50);
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(20px);
  }
  // .services__summary
  &__summary {
    span {
      font-weight: 700;
      @include adaptiveValue("font-size", 26, 18,0,1920,1366.98);
    }
    @media (min-width:$mobileSmall){
      margin-bottom: toRem(10);
    }
    @media (max-width:$mobileSmall){
       display: flex;
       align-items: center;
       justify-content: space-between; 
       &._spoller-active {
        svg {
          transform: rotate(0deg);
        }
       }
    }
    svg {
      @media (min-width:$mobileSmall){
         display: none; 
      }
      @media (max-width:$mobileSmall){
         transform: rotate(180deg); 
         transition: transform .3s ease;
      }
    }
  }
  // .services__body
  &__body {
    @media (max-width:$mobileSmall){
       margin-top: toRem(20); 
    }
    ul li {
      @include adaptiveValue("font-size", 18, 16,0,1920,1440);
      font-weight: 400;
      line-height: normal;
      a {
        @media (min-width:$mobileSmall){
           transition: color .3s ease; 
        }
        @media (any-hover: hover){
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}

.case-block h2,
.case-block h3,
.case-block h4,
.case-block h5,
.case-block h6,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
    @include adaptiveValue("font-size", 40, 30,2,1920,1366.98);
    @include adaptiveValue("font-size", 30, 26,3,1366.98,360);
    font-weight: 700;
}

.case-block p,
.article p,
.article ul li,
.article ol li {
  @include adaptiveValue("font-size", 26, 18,2,1920,1366.98);
  @include adaptiveValue("font-size", 18, 16,3,1366.98,480.98);
  font-weight: 400;
}

.case-result__title,
.case-result__txt,
.case-creative__list,
.case-creative__image,
.case-block h2,
.case-block h3,
.case-block h4,
.case-block h5,
.case-block h6,
.case-block p,
.article p,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6,
.article ul, 
.article figure,
.art-imgs  {
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 40, 30,2,1920,1440.98);
    @include adaptiveValue("margin-bottom", 30, 20,3,1440.98,480);
  }
}


.article {
  img {
    width: 100%;
    height: auto;
  }
  figure {
    img {
        @media (min-width:$mobileSmall){
          margin-bottom: toRem(30);
        }
        @media (max-width:$mobileSmall){
           margin-bottom: toRem(10); 
        }
    }
    figcaption {
      text-align: center;
      @include adaptiveValue("font-size", 24, 16,2,1920,1366.98);
      @include adaptiveValue("font-size", 16, 14,3,1366.98,480.98);
    }
  }
  ol {
  	list-style-type: none;
	  counter-reset: item;
    li {
      position: relative;
      @include adaptiveValue("padding-left", 80, 50,2,1920,1366.98);
      @include adaptiveValue("padding-left", 50, 40,3,1366.98,480);
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 20, 15,0,1920,1440);
      }
      &:before {
        counter-increment: item;
        content: counter(item);
        position: absolute;
        left: 0;
        top: 0;
        background-color: $blue;
        @include adaptiveValue("width", 50, 30,0,1920,1366.98);
        @include adaptiveValue("height", 50, 30,0,1920,1366.98);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
      }
    }
  }
  ul li {
    list-style: initial;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 10, 5,0,1920,1440);
    }
    @media (min-width:$mobileSmall){
      margin-left: toRem(35);
    }
    @media (max-width:$mobileSmall){
       margin-left: toRem(25); 
    }
  }
}



.article-hero {
  @extend %pddTopB;
		// .article-hero__container
		&__container {
		}
		// .article-hero__body
		&__body {
      display: grid;
      @media (min-width:toEm(600.98)){
        grid-template-columns: 1fr 1fr;
      }
      .title-main {
        text-align: left;
      }
		}
		// .article-hero__img
		&__img {
		}
}

.article-about,
.article-main {
  @extend %pddTopB;
}

.case-hero {
  @extend %pddTopB;
  position: relative;
  overflow: hidden;
  @media (max-width:$mobileSmall){
     min-height: calc(100vh - toRem(68)); 
     min-height: calc(100svh - toRem(68)); 
     display: flex;
     flex-direction: column;
     justify-content: center;
  }
  p {
    font-weight: 700 !important;
    @include adaptiveValue("font-size", 40, 26,2,1920,1366.98);
    @include adaptiveValue("font-size", 26, 20,3,1366.98,480.98);
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
    span {
      color: $blue;
    }
  }
  .title-main {
    text-align: left;
  }
  img {
    height: 100% !important;
  }
  // .case-hero__bg
  &__bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    object-position: center;

    @media (max-width:$mobileSmall){
        
    }
  }
  // .case-hero__container
  &__container {
    position: relative;
    z-index: 2;
    @media (max-width:$mobileSmall){
       padding-bottom: toRem(100); 
    }
  }
}

.case-result {
  @extend %pddTopB;
  // .case-result__container
  &__container {
    p {
      color: #fff;
    }
  }
}

.art-imgs {
  display: grid;
  @include adaptiveValue("gap", 20, 10,0,1920,1366.98);
  
  @media (min-width:toEm(600.98)){
    grid-template-columns: repeat(4,1fr);
  }
  @media (max-width: toEm(600.98)){
    grid-template-columns: repeat(2,1fr);
  }
}


.list-result {
  display: grid;
  @media (min-width:toEm(550.98)){
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: toEm(550.98)){
    grid-template-columns: repeat(2, 1fr);  
  }
  @media (min-width:toEm(550.98)){
    gap: toRem(20);
  }
  @media (max-width:toEm(550.98)){
     gap: toRem(10); 
  }
  @media (max-width:$mobileXS){
     grid-template-columns: 1fr; 
  }
  li {
    list-style: none !important;
    border-radius: toRem(20);
    background-color: #fff;
    text-align: center;
    padding-left: toRem(10);
    padding-right: toRem(10);
    margin: 0 !important;
    @include adaptiveValue("padding-top", 50, 30,0,1920,480);
    @include adaptiveValue("padding-bottom", 50, 30,0,1920,480);
    p {
      &:nth-child(1) {
        font-weight: 700 !important;
        @include adaptiveValue("font-size", 40, 24,0,1920,1366.98);
        color: $blue;
        &:not(:last-child) {
          margin-bottom: toRem(10);
        }
      }
      &:nth-child(2) {
        color: #000;
        @include adaptiveValue("font-size", 24, 16,0,1920,480);
        font-weight: 500;
      }
    }
  }
}